@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply scrollbar styles globally */
body,
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #c6f042 #9d9998; /* For Firefox */
}

body::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background-color: #9d9998; /* Track color */
}

body::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: #c6f042; /* Thumb color */
}
